<!DOCTYPE html>
<html>
  <head>
    <title>FutureStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="super_container">
      <%= render 'shared/nav' %>
      <%= yield %>
      <%= render 'shared/footer' %>
      <%= render '/shared/js_path' %>
    </div>
  </body>
</html>
